/* Default View */
/* Q1 - create the animation and set the start/end details */
@keyframes logokeyframe {
    0% {
        opacity: 0;
        width: 25px;
    }

    100% {
        opacity: 1;
        width: 475px;
    }
}

/* now apply the animation to the logo element, linear speed no delay, 1 repetition */
#logo {
    animation: logokeyframe 5s linear 0s 1 normal;
}

/* Q2 - body font, background image, and color is set */
body {
    font-family: 'Poppins', 'serif';
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

/* Q3 - style the header as shown in the spec */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Q4 - change the nav links to flex */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* Q5 - use psuedoclass to change the color to purple if visited  */
.nav_links li a:visited {
    color: #A020F0;
}

/* Q6 - card headers should be the green color with a border set */
.card > header {
    background-color: #288088;
    border: solid #45ADD 2px;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

/* Q7 - flex basis needs to be changed, second selector to ensure border radius is correct as well */
.card {
    flex-basis: 450px; 
    /* from Q6 to match the spec - bottom corners should not be rounded, while top corners should not be visible from the card itself */
    border-radius:  50px 50px 0px 0px;
}

/* Q8  - change pricing */
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Q9 - change gallery, set width margin and border */
.gallery img {
    width: 300px;
    border: solid #50C7C7 10px;
    margin: 10px;
}

/* Q10 - use flex and wrap */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Greater than 900px */
@media screen and (min-width: 900px) {
    /* Q11 */
    header, .nav_links {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Q12 */
    .pricing, .card {
        flex-basis: 275px;
    }

    /* Q13 - make sure menu bar scrolls down with user */
    body > header {
        position: sticky;
        top: 0px;
    }
}

/* Reduced motion preferred users */
@media screen and (prefers-reduced-motion: reduce) {
    /* Q14 - get rid of animation! */
    .logo {
        animation: none;
    }   
}

/* Print view - get rid of background image and change dont */
@media print {
    body {
        /* Q15 */
        font-family: Arial, Helvetica;
        /* Q16 */
        background-image: none;
    }

    /* Q17 */
    nav {
        /* take up the whole space in print view */
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    /* Q18 */
    .pricing {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    /* Q19 - change card */
    .card {
        flex-basis: 325px;
        border: solid #45ADDD 2px;
    }

    /* Q20 - get rid of gallery ! */
    .gallery {
        display: none;
    }

    /* Q21 - add thumbs up after the second list item of each pricing element */
    .pricing li:nth-child(2)::after {
        content: "👍🏿";
    }
}

